<!DOCTYPE html>
<html>
  <head>
    <title>Wiki: {{entry.entry_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  	<style>
      body {
          background-color: lightblue;
          word-wrap: break-word;
      }
      h2, h3, p {
          text-align: center;
      }
    </style>
  </head>
  <body>
      <div class="container">
        <!-- Navbar -->
        {% include 'wiki/header.html' %}<br />

        <!-- Dump entry data -->
        <h3>{{ entry.entry_title }}</h3><br />
        <p><b>Description:</b> {{ entry.entry_text }}</p>
        <p><b>Author:</b> {{ entry.entry_author }}</p>
        <p><b>Created:</b> <i>{{ entry.entry_date }}</i></p>
        <p><b>Last updated:</b> <i>{{ entry.entry_updated }}</i></p>

        <!-- If user is OP or admin, show edit button -->
        {% if user == entry.entry_author or user.username == 'admin' %}
            <br /><a href="/{{ entry.id }}/edit/"><button type="submit">Edit this post as {{ request.user }}</button></a>
        {% endif %}
        </div>
	</body>
</html>
