<!DOCTYPE html>
<html>
  <head>
    <title>Wiki: {{entry.entry_title}}</title>
    <meta charset="utf-8"></meta>
  	<style>
      body {
        background-color: lightblue;
      }
      h2 {
      text-align: center;
      }
      p {
      text-align: center;
      }
    </style>
  </head>
  <body>
		<h2>{{ entry.entry_title }}</h2>
		<p>Description: <b>{{ entry.entry_text }}</b></p>
		<p>Created: <b><i>{{ entry.entry_date }}</b></i></p>
		{% if loggedIn %}

		{% endif %}
        <a href="/"><button type="submit">Return home</button></a>
	</body>
</html>
