<!DOCTYPE html>
<html>
  <head>
    <title>Edit: {{entry.entry_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  	<style>
      body {
          background-color: lightblue;
          word-wrap: break-word;
      }
      h2, h3, p {
          text-align: center;
      }
    </style>
  </head>
  <body>
    {% include 'wiki/header.html' %}<br />
    {% if not loggedIn %}
      <h3 style="color:red;">Unable to edit: user not logged in!</h3>
    {% endif %}

    <h3>{{ entry.entry_title }}</h3><br />
    <p><b>Description:</b> {{ entry.entry_text }}</p>
    <p><b>Author:</b> {{ entry.entry_author }}</p>
    <p><b>Created:</b> <i>{{ entry.entry_date }}</i></p>
    <p><b>Last updated:</b> <i>{{ entry.entry_updated }}</i></p>

    {% if loggedIn %}
      <br /><br /><h5>Editing as: {{user}}</h5>
      <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="editTitle">Edit title</label>
            <input type="text" class="form-control" name="editTitle" id="editTitle" />

            <label for="editText">Edit description</label>
            <input type="text" class="form-control" name="editText" id="editText" />
          </div>
          <button type="submit">Submit</button>

      </form>
    {% endif %}
	</body>
</html>
