<!DOCTYPE html>
<html>
  <head>
    <title>Oops!</title>
    <meta charset="utf-8"></meta>
  	<style>
      body {
      background-color: lightblue;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    {% include 'wiki/header.html' %}
	<h2>Oops!</h2>
    <p>Hmmm... Something went wrong.</p>
    <!-- Show error message -->
    {{ msg }}
    <!-- Exit buttons -->
    <a href="/"><button type="submit">Return home</button></a>
    <br />
    <a href="/user/"><button type="submit">Account page</button></a>
  </body>
</html>
