<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<style>
      body {
      background-color: lightblue;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- Navbar source -->
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
          <!-- Homepage -->
        	<a class="navbar-brand" href="/">Wiki</a>
            <ul class="navbar-nav">
              <!-- Homepage -->
                <li class="nav-item">
                  <a class="nav-link" href="/">| Home |</a>
                </li>
            <!-- Only show account and create buttons if user is logged in -->
            {% if loggedIn %}
                <!-- Account -->
                <li class="nav-item">
                  <a class="nav-link" href="/user/">| {{ request.user }}'s Account |</a>
                </li>
                <!-- Create -->
                <li class="nav-item">
                  <a class="nav-link" href="/create/">| New Post |</a>
                </li>
            <!-- Only show login button if user not logged in -->
            {% else %}
                <!-- Login -->
                <li class="nav-item">
                  <a class="nav-link" href="/user/">| Login |</a>
                </li>
            {% endif %}
            </ul>
    	</nav>
</div>
</body>
</html>
