<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <meta charset="utf-8"></meta>
  	<style>
      body {
        background-color: lightblue;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
      }
      td {
        text-align: center;
      }
      tr:nth-child(even) {
        background-color: #eee;
      }
      tr:nth-child(odd) {
        background-color: #bee;
      }
    </style>
  </head>
  <body>
    {% include 'wiki/header.html' %}
    <br /><h3>Wiki Entries</h3><br />
    <table style="width:100%">
        <tr>
            <th>Created</th>
            <th>Last updated</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
    {% for entry in entries reversed %}
        <tr>
            <th><b><i>{{ entry.entry_date }}</b></i></th>
            <th><b><i>{{ entry.entry_updated }}</b></i></th>
            <th><a href="/{{ entry.id }}/"><h4>{{ entry.entry_title }}</h4></a></th>
            <th>{{ entry.entry_text_short }}</th>
            <th><b>{{ entry.entry_author }}</b></th>
        </tr>
    {% endfor %}
    </table>

  </body>
</html>
