<!DOCTYPE html>
<html>
  <head>
    <title>Wiki: {{entry.entry_title}}</title>
    <meta charset="utf-8"></meta>
  	<style>
      body {
        background-color: lightblue;
      }
      h2 {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Welcome to the wiki index!</h2>

    {% if loggedIn %}
      <p>Logged in as: {{user}}</p>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}
        <input type="hidden" name="logout" value="logout"></input>
        <button type="submit">Logout</button>
      </form>

      <p>Create new post</p>
      <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="submitTitle">Post Title</label>
            <input type="text" class="form-control" name="submitTitle" id="submitTitle" />
          </div>

          <div class="form-group">
            <label for="submitText">Post Text</label>
            <input type="text" class="form-control" name="submitText" id="submitText" />
          </div>

          <button type="submit" class="btn btn-danger">Sumbit Post</button>
      </form>
    {% else %}
      <h3 style='color:red;'>User not logged in!</h3>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}

        <table>
          {{ form }}
        </table>

        <button type="submit">Login</button>
      </form>
    {% endif %}
  </body>
</html>
