<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta charset="utf-8"></meta>
  	<style>
      body {
        background-color: lightblue;
      }
      h2 {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    {% include 'wiki/header.html' %}
      <br /><h3>Welcome, register here!</h3>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}

        <br />
        <table style="margin-left:auto; margin-right:auto;">
          <!-- Registration form -->
          {{ form }}
        </table>
        <!-- Submit -->
        <br /><button type="submit">Register</button>
      </form>
	</body>
</html>
