<!DOCTYPE html>
<html>
  <head>
      {% if loggedIn %}
        <title>User: {{ user }}</title></h3>
      {% else %}
        <title>User: Not Logged In!</title></h3>
      {% endif %}

    <meta charset="utf-8"></meta>
  	<style>
      body {
        background-color: lightblue;
      }
      h2 {
      text-align: center;
      }
      h3 {
      text-align: center;
      }
      p {
      text-align: center;
      }
    </style>
  </head>
  <body>
    {% if not loggedIn %}
      <h3 style="color:red;">Unable to view: user not logged in!</h3>
    {% endif %}

    {% if loggedIn %}
      <h4>Editing as: {{user}}</h4>
      <h2>{{ entry.entry_title }}</h2>
      <p>Description: <b>{{ entry.entry_text }}</b></p>
      <p>Author: <b>{{ entry.entry_author }}</b></p>
      <p>Created: <b><i>{{ entry.entry_date }}</b></i></p>
      <p>Last updated: <b><i>{{ entry.entry_updated }}</b></i></p>
    {% endif %}
	</body>
</html>
